html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 70px;
    background-image: url("../images/bg.png");
}
.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 60px;
    padding-top: 20px;
}

.imagebox {
    max-block-size: 200px;
    margin-bottom: 20px;
}

.labels {
    position: absolute;
    top: 150px;
    background: rgba(169, 172, 172, 0.80);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

#label1 {
    left: 16px;
    padding: 6px 92px;
}

#label2 {
    left: 16px;
    padding: 6px 86px;
}

#label3 {
    left: 16px;
    padding: 6px 80px;
}

#label4 {
    left: 16px;
    padding: 6px 42px;
}